<!DOCTYPE html>
	<html lang="en">
		<head>
			{% include head.html %}
			<!-- tracking code -->
			{% include google-analytics-track.html %}
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{% include header.html %}
			
			{{ content }}
			
			{% include footer.html %}
			
			</div><!-- /.container -->
			
			{% include scripts.html %}
			
		</body>
	</html>
